.login-wrapper {
  background-image: url("../../../../src/assets/img/background.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  min-width: 350px;
  margin: auto;
  border-radius: 20px;
  border: 2px solid rgb(96, 148, 182);
  padding: 50px;
  background-color: #fff;
  .text-login {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    color: rgb(70, 44, 157);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Thêm bóng chữ */
  }

  .text-manage {
    font-size: 32px;
    font-weight: 600;
    color: rgb(0, 153, 255); /* Thay đổi màu để dịu mắt hơn */
    padding-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Thêm bóng chữ */
  }
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
