.login-wrapper {
  background-color: #76c0d1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  min-width: 350px;
  margin: auto;
  border-radius: 20px;
  border: 2px solid rgb(96, 148, 182);
  padding: 50px;
  background-color: #fff;
  /* background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% ); */
  .text-login {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    color: rgb(44, 135, 163);
  }
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
